.chats{
    position: relative;
    height: 400px;
    width: 275px;
}

.chats__header {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #059ee0;
    height: 50px;
}

.chats__search {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 8px;
}

.chats__input{
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 12px;
    flex: 1;
    color: white;
}

.chats__input::placeholder{
    color: white;
    opacity: 1;
}

.chats__posts {
    height: 359px;
    background-color: white;
    box-shadow: 1px -7px 7px -6px rgba(0,0,0, 0.44);
    margin-top: -6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chats__posts::-webkit-scrollbar {
    display: none;
}

.chats__takePicIcon {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 200px;
    color: gray;
    font-size: 40px !important;
    cursor: pointer;

}

.chats__takePicIcon:hover {
    opacity: 0.8;
}

.chats__searchIcon{
    color: white;
    font-size: 13px  !important;
}
.chats__chatIcon{
    color: white;
    font-size: 18px  !important;
}

.chats__avatar {
    width: 30px !important;
    height: 30px !important;
}

